.colorRed {
  color: red;
}
#page #header {
  width: 100%;
  height: 74px;
  background: url(../img/menu-bg.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: 65%;
}
#page #header #header-main {
  width: 1000px;
  height: 74px;
  margin: 0px auto;
  position: relative;
}
#page #header #header-main .header-logo {
  width: 156px;
  height: 74px;
  float: left;
}
#page #header #header-main .header-logo > a {
  display: block;
  width: 156px;
}
#page #header #header-main .header-logo > a > img {
  width: 156px;
  height: 51px;
  margin-top: 11px;
}
#page #header #header-main .header-location {
  width: 120px;
  height: 20px;
  float: left;
  padding-top: 20px;
  margin-left: 10px;
}
#page #header #header-main .header-menu {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 549px;
  height: 29px;
}
#page #header #header-main .header-menu > ul {
  width: 549px;
  height: 29px;
}
#page #header #header-main .header-menu > ul .menu-first {
  margin-left: 30px;
}
#page #header #header-main .header-menu > ul > li {
  text-align: center;
  width: 105px;
  height: 26px;
  float: left;
  line-height: 26px;
}
#page #header #header-main .header-menu > ul > li > a {
  padding: 0px 5px;
  width: 91px;
  height: 26px;
  text-align: center;
  display: block;
  font-size: 16px;
  color: white;
}
#page #header #header-main .header-singin-up {
  position: absolute;
  top: 0px;
  right: 0px;
}
#page #main {
  width: 100%;
  height: 599px;
  border-top: 3px solid #e60012;
}
#page #main #main-main {
  width: 1000px;
  height: 599px;
  margin: 0 auto;
}
#page #main #main-main .main-left {
  width: 253px;
  height: 357px;
  float: left;
  position: relative;
}
#page #main #main-main .main-left .main-left-inner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 253px;
  height: 357px;
}
#page #main #main-main .main-left .main-left-inner > h3 {
  margin: 0px;
  padding: 0pc;
  word-wrap: break-word;
  width: 253px;
  height: 42px;
  display: block;
  font-size: 16px;
  line-height: 28px;
  background-image: url(../img/bgs.png);
  background-repeat: no-repeat;
  text-align: center;
}
#page #main #main-main .main-left .main-left-inner .main-menu {
  width: 207px;
  height: 305px;
  margin: 0px auto;
  border-style: none solid;
  border-color: #e60012;
  position: relative;
  top: -4px;
}
#page #main #main-main .main-left .main-left-inner .main-menu > ul {
  margin: 0px auto;
  width: 193px;
  height: 305px;
}
#page #main #main-main .main-left .main-left-inner .main-menu > ul .amenu-first {
  background-image: url(../img/bgs.png);
  background-position-y: -94px;
  color: white;
}
#page #main #main-main .main-left .main-left-inner .main-menu > ul > li {
  text-align: center;
  width: 193px;
  height: 26px;
  margin: 4px 0px;
  line-height: 26px;
}
#page #main #main-main .main-left .main-left-inner .main-menu > ul > li > a {
  background-image: url(../img/bgs.png);
  background-position-y: -64px;
  color: #6a3301;
  display: block;
  width: 193px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
}
#page #main #main-main .main-left .main-left-inner .main-menu > ul > li > a:hover {
  background-image: url(../img/bgs.png);
  background-position-y: -94px;
  color: white;
}
#page #main #main-main .main-left .main-left-inner .main-left-bottom {
  width: 253px;
  height: 18px;
  background-image: url(../img/bgs.png);
  background-position-y: -45px;
  position: relative;
  top: -4px;
}
#page #main #main-main .main-content {
  float: left;
  width: 747px;
  height: 575px;
}
#page #main #main-main .main-content .top {
  display: block;
  width: 747px;
  height: 40px;
  margin-bottom: 28px;
}
#page #main #main-main .main-content .top > h1 {
  color: #6a3301;
  background-color: #fcf3eb;
  margin-top: 30px;
  font-size: 14px;
  line-height: 120%;
  position: relative;
  width: 747px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-weight: 800;
}
#page #main #main-main .main-content .top > h1 > b {
  z-index: 1;
  width: 9px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  background-image: url(../img/buttons.jpg);
}
#page #main #main-main .main-content .top > h1 .left {
  left: 0px;
  background-position: 0 -461px;
}
#page #main #main-main .main-content .top > h1 .right {
  right: 0px;
  background-position: 0 -503px;
}
#page #main #main-main .main-content .user-info {
  width: 747px;
  height: 220px;
}
#page #main #main-main .main-content .user-info .user-logo {
  float: left;
  padding: 0 21px;
}
#page #main #main-main .main-content .user-info .user-logo > img {
  width: 93px;
  height: 93px;
}
#page #main #main-main .main-content .user-info .user-detal {
  float: left;
  display: block;
  width: 370px;
  height: 220px;
}
#page #main #main-main .main-content .user-info .user-detal .user-info-item {
  width: 370px;
  height: 23px;
  line-height: 23px;
  margin-bottom: 21px;
  display: block;
}
#page #main #main-main .main-content .user-info .user-detal .user-info-item .lable {
  float: left;
}
#page #main #main-main .main-content .user-info .user-detal .user-info-item .item {
  float: left;
  margin-left: 0;
  margin-right: 6px;
}
#page #main #main-main .main-content .user-info .user-detal .user-info-item .conversion {
  width: 86px;
}
#page #main #main-main .main-content .user-info .user-detal .user-info-item .pay {
  width: 58px;
}
#page #main #main-main .main-content .user-info .user-detal .user-info-item .whatch-info {
  float: left;
  width: 140px;
}
#page #main #main-main .main-content .user-info .user-detal .user-info-item > a {
  color: white;
  display: inline-block;
  height: 23px;
  position: relative;
  margin-right: 15px;
  background-color: #e60012;
  text-align: center;
}
#page #main #main-main .main-content .user-info .user-detal .user-info-item > a > b {
  position: absolute;
  top: 0px;
  display: block;
  width: 9px;
  height: 23px;
  background-color: ;
  background-image: url(../img/buttons.jpg);
  background-repeat: no-repeat;
}
#page #main #main-main .main-content .user-info .user-detal .user-info-item > a > span {
  display: inline-block;
  padding: 0px 7px;
  color: #fff;
  font-size: 13px;
  text-align: center;
}
#page #main #main-main .main-content .user-info .user-detal .user-info-item > a .left {
  width: ;
  left: 0px;
  background-position: 0 -232px;
}
#page #main #main-main .main-content .user-info .user-detal .user-info-item > a .right {
  right: 0px;
  background-position: 0 -255px;
  height: 23px;
  right: 0;
}
#page #main #main-main .main-content .user-info .user-detal .user-info-item > p {
  font-size: 14px;
}
#page #main #main-main .main-content .panel-card {
  height: 260px;
}
#page #main #main-main .main-content .panel-card > div {
  position: relative;
}
#page #main #main-main .main-content .panel-card .panel-header {
  position: relative;
}
#page #main #main-main .main-content .panel-card .panel-header .inner {
  position: relative;
  margin: 0 12px;
  height: 30px;
  line-height: 30px;
  background-color: #e60012;
  color: white;
}
#page #main #main-main .main-content .panel-card .panel-header .left {
  z-index: 1;
  display: inline-block;
  background-image: url(../img/modal-bg.png);
  background-repeat: no-repeat;
  width: 12px;
  height: 39px;
  background-position: 0 0;
  position: absolute;
  left: 0;
  top: 0;
}
#page #main #main-main .main-content .panel-card .panel-header .right {
  z-index: 1;
  display: inline-block;
  background-image: url(../img/modal-bg.png);
  background-repeat: no-repeat;
  width: 12px;
  height: 39px;
  background-position: 100% 0;
  position: absolute;
  right: 0;
  top: 0;
}
#page #main #main-main .main-content .panel-card .panel-main {
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  min-height: 30px;
  background-color: #fff;
  border-left: 2px solid #e60012;
  border-right: 3px solid #e60012;
  padding: 7px 5px;
  overflow: auto;
}
#page #main #main-main .main-content .panel-card .panel-main .list > li {
  float: left;
  padding: 0px 5px;
}
#page #main #main-main .main-content .panel-card .panel-main .list > li > a > img {
  width: 356px;
  height: 203px;
}
#page #main #main-main .main-content .panel-card .panel-footer {
  padding: 0 0;
  position: relative;
  height: 10px;
}
#page #main #main-main .main-content .panel-card .panel-footer .left {
  background-image: url(../img/modal-bg.png);
  background-repeat: no-repeat;
  width: 12px;
  height: 19px;
  background-position: 0 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
#page #main #main-main .main-content .panel-card .panel-footer .right {
  background-image: url(../img/modal-bg.png);
  background-repeat: no-repeat;
  width: 12px;
  height: 19px;
  background-position: 100% 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
#page #main #main-main .main-content .panel-card .panel-footer .inner {
  margin: 0px 12px;
  background-color: #e60012;
  height: 10px;
  position: relative;
  top: -1px;
}
#page #footer {
  width: 100%;
  border-top: 1px solid #e60012;
  padding: 21px 0 35px;
  margin-top: 14px;
}
#page #footer #footer-main {
  width: 1000px;
  margin: 0px auto;
  overflow: auto;
}
#page #footer #footer-main .footer-logo {
  float: left;
}
#page #footer #footer-main .footer-logo > img {
  width: 397px;
  height: 124px;
}
#page #footer #footer-main .footer-info {
  float: right;
}
#page #footer #footer-main .footer-info > ul {
  display: block;
  text-align: right;
}
#page #footer #footer-main .footer-info > ul > li {
  display: inline-block;
}
#page #footer #footer-main .footer-info > ul > li > a {
  color: #e60012;
}
#page #footer #footer-main .footer-info .detal-list > li > a {
  color: #6a3301;
}
#page #footer #footer-main .footer-info .detal-list .line {
  width: 1px;
  height: 9px;
  background-color: black;
}
#page #footer #footer-main .copyright > p {
  color: #6a3301;
  text-align: right;
  line-height: 21px;
}
