<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wenrong.kongfu.dao.AddressMapper" >
  <resultMap id="BaseResultMap" type="org.wenrong.kongfu.pojo.Address" >
    <id column="addressId" property="addressid" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="plot" property="plot" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="linkMan" property="linkman" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    addressId, city, plot, address, linkMan, phone, userId, alias
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.wenrong.kongfu.pojo.AddressExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from address
    where addressId = #{addressid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from address
    where addressId = #{addressid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.wenrong.kongfu.pojo.AddressExample" >
    delete from address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.wenrong.kongfu.pojo.Address" >
    insert into address (addressId, city, plot, 
      address, linkMan, phone, 
      userId, alias)
    values (#{addressid,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{plot,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.wenrong.kongfu.pojo.Address" >
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addressid != null" >
        addressId,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="plot != null" >
        plot,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="linkman != null" >
        linkMan,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="alias != null" >
        alias,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addressid != null" >
        #{addressid,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="plot != null" >
        #{plot,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.wenrong.kongfu.pojo.AddressExample" resultType="java.lang.Integer" >
    select count(*) from address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update address
    <set >
      <if test="record.addressid != null" >
        addressId = #{record.addressid,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.plot != null" >
        plot = #{record.plot,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.linkman != null" >
        linkMan = #{record.linkman,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.alias != null" >
        alias = #{record.alias,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update address
    set addressId = #{record.addressid,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      plot = #{record.plot,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      linkMan = #{record.linkman,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=VARCHAR},
      alias = #{record.alias,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.wenrong.kongfu.pojo.Address" >
    update address
    <set >
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="plot != null" >
        plot = #{plot,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkMan = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        alias = #{alias,jdbcType=VARCHAR},
      </if>
    </set>
    where addressId = #{addressid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wenrong.kongfu.pojo.Address" >
    update address
    set city = #{city,jdbcType=VARCHAR},
      plot = #{plot,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      linkMan = #{linkman,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR}
    where addressId = #{addressid,jdbcType=VARCHAR}
  </update>
</mapper>