<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wenrong.kongfu.dao.MemuMapper" >
  <resultMap id="BaseResultMap" type="org.wenrong.kongfu.pojo.Memu" >
    <id column="memuId" property="memuid" jdbcType="VARCHAR" />
    <result column="memuName" property="memuname" jdbcType="VARCHAR" />
    <result column="memuPrice" property="memuprice" jdbcType="DOUBLE" />
    <result column="memuImageUrl" property="memuimageurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    memuId, memuName, memuPrice, memuImageUrl
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.wenrong.kongfu.pojo.MemuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from memu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from memu
    where memuId = #{memuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from memu
    where memuId = #{memuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.wenrong.kongfu.pojo.MemuExample" >
    delete from memu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.wenrong.kongfu.pojo.Memu" >
    insert into memu (memuId, memuName, memuPrice, 
      memuImageUrl)
    values (#{memuid,jdbcType=VARCHAR}, #{memuname,jdbcType=VARCHAR}, #{memuprice,jdbcType=DOUBLE}, 
      #{memuimageurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.wenrong.kongfu.pojo.Memu" >
    insert into memu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memuid != null" >
        memuId,
      </if>
      <if test="memuname != null" >
        memuName,
      </if>
      <if test="memuprice != null" >
        memuPrice,
      </if>
      <if test="memuimageurl != null" >
        memuImageUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memuid != null" >
        #{memuid,jdbcType=VARCHAR},
      </if>
      <if test="memuname != null" >
        #{memuname,jdbcType=VARCHAR},
      </if>
      <if test="memuprice != null" >
        #{memuprice,jdbcType=DOUBLE},
      </if>
      <if test="memuimageurl != null" >
        #{memuimageurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.wenrong.kongfu.pojo.MemuExample" resultType="java.lang.Integer" >
    select count(*) from memu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update memu
    <set >
      <if test="record.memuid != null" >
        memuId = #{record.memuid,jdbcType=VARCHAR},
      </if>
      <if test="record.memuname != null" >
        memuName = #{record.memuname,jdbcType=VARCHAR},
      </if>
      <if test="record.memuprice != null" >
        memuPrice = #{record.memuprice,jdbcType=DOUBLE},
      </if>
      <if test="record.memuimageurl != null" >
        memuImageUrl = #{record.memuimageurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update memu
    set memuId = #{record.memuid,jdbcType=VARCHAR},
      memuName = #{record.memuname,jdbcType=VARCHAR},
      memuPrice = #{record.memuprice,jdbcType=DOUBLE},
      memuImageUrl = #{record.memuimageurl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.wenrong.kongfu.pojo.Memu" >
    update memu
    <set >
      <if test="memuname != null" >
        memuName = #{memuname,jdbcType=VARCHAR},
      </if>
      <if test="memuprice != null" >
        memuPrice = #{memuprice,jdbcType=DOUBLE},
      </if>
      <if test="memuimageurl != null" >
        memuImageUrl = #{memuimageurl,jdbcType=VARCHAR},
      </if>
    </set>
    where memuId = #{memuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wenrong.kongfu.pojo.Memu" >
    update memu
    set memuName = #{memuname,jdbcType=VARCHAR},
      memuPrice = #{memuprice,jdbcType=DOUBLE},
      memuImageUrl = #{memuimageurl,jdbcType=VARCHAR}
    where memuId = #{memuid,jdbcType=VARCHAR}
  </update>
</mapper>